<h2>Lottery Game</h2>

<button (click)="openGameOne()">Chơi lô đề</button>
<button style="margin-left: 8px;" (click)="openGameTwo()">Bao lô</button>

<ng-container *ngIf="resultsGameOne.length">
  <h1>Danh sách lô đề</h1>
  <table>
    <tr>
      <th>Người chơi</th>
      <th>Trò chơi</th>
      <th>Số đánh</th>
      <th>Tiền đầu</th>
      <th>Tiền đuôi</th>
      <th>Thao tác</th>
    </tr>
    <tr *ngFor="let result of resultsGameOne; index as i">
      <td>{{genarateUser(result.id_user)}}</td>
      <td>{{genarateGame(result.type_game)}}</td>
      <td>{{result.selected_number}}</td>
      <td>{{result.head_price}}</td>
      <td>{{result.tail_price}}</td>
      <td>
        <span (click)="deleteResultGameOne(i)">Xóa</span>
      </td>
    </tr>
  </table>
</ng-container>

<ng-container *ngIf="resultsGameTwo.length">
  <h1>Danh sách bao lô</h1>
  <table>
    <tr>
      <th>Người chơi</th>
      <th>Trò chơi</th>
      <th>Số đánh</th>
      <th>Tiền đặt</th>
      <th>Thao tác</th>
    </tr>
    <tr *ngFor="let result of resultsGameTwo; index as i">
      <td>{{genarateUser(result.id_user)}}</td>
      <td>{{genarateGame(result.type_game)}}</td>
      <td>{{result.selected_number}}</td>
      <td>{{result.price}}</td>
      <td>
        <span (click)="deleteResultGameTwo(i)">Xóa</span>
      </td>
    </tr>
  </table>
</ng-container>
